### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
**/tmp
id_*
*_id_*
### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box
